body{
background-color: aquamarine;
text-align: center;
text-transform: uppercase;
}
h1{
background-color: blue;
color: rgba(116, 157, 170, 0.459)0, 0.459);
    font-size: larger;
    text-transform: uppercase;
}
p{
font-family: verdana;
color: brown;
font-size: 28px;
font-weight: normal;
text-transform: uppercase;
}
.a{
    font-family: verdana;
    color: red;
    font-size: 28px;
    font-weight: normal;
    text-transform: uppercase;
}
.b{
    font-family: verdana;
    color: gold;
    font-size: 28px;
    font-weight: normal;
    text-transform: uppercase;
}
.c{
    font-family: verdana;
    color: blue;
    font-size: 28px;
    font-weight: normal;
    text-transform: uppercase;
}
.d{
    font-family: verdana;
    color: blue;
    font-size: 28px;
    font-weight: normal;
    text-transform: uppercase;
}
.e{
    
    background-color: gold;

    font-family: verdana;
    color: blue;
    font-size: 28px;
    font-weight: normal;
    text-transform: uppercase;
}

.f{

    background-color: green;
font-family: verdana;
    color: blue;
    font-size: 28px;
    font-weight: normal;
    text-transform: uppercase;

}
.g{
    font-family: verdana;
    color: blue;
    font-size: 28px;
    font-weight: normal;
    text-transform: uppercase;

}


.h{
    font-family: verdana;
    color: blue;
    font-size: 28px;
    font-weight: normal;
    text-transform: uppercase;

}



.i{
    font-family: verdana;
    color: gray;
    font-size: 28px;
    font-weight: normal;
    text-transform: uppercase;
background-color: goldenrod;
}
.j{
    background-color: coral;
    font-family: verdana;
    color: gray;
    font-size: 28px;
    font-weight: normal;
    text-transform: uppercase;



}
.k{

    font-family: verdana;
    color: red;
    font-size: 28px;
    font-weight: normal;
    text-transform: uppercase;


}
.l{

    font-family: verdana;
    color: peru;
    font-size: 28px;
    font-weight: normal;
    text-transform: uppercase;


}
.m{
    font-family: verdana;
    color: purple;
    font-size: 28px;
    font-weight: normal;
    text-transform: uppercase;
background-color: chartreuse;


}





